################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/PushNotification.API/bin
/src/PushNotification.API/obj
/.vs
